<!-- --------About our hotel-------- -->
<section class="about-hotel">
    <div class="container">
                <h2 class="visually-hidden">About our restaurant</h2>
                <div class="about-hotel-paragraph">
                    <p class="about-hotel-pre-title">Amet minim mollit non</p>
                    <h3 class="about-hotel-title">MIMIHO</h3>
                    <p class="about-hotel-after-title">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
                        Velit officia consequat duis enim velit
                        mollit. Exercitation veniam consequat sunt nostrud amet.</p>
                </div>
        <div class="img-hotel">
            <picture>
                <source srcset="
                                ./img/abouthotel/modern-studio-apartment-desc.jpg   1x,
                                ./img/abouthotel/modern-studio-apartment-desc-2x.jpg 2x
                              " media="(min-width: 1280px)" />
                <source srcset="
                                ./img/abouthotel/modern-studio-apartment-tab.jpg    1x,
                                ./img/abouthotel/modern-studio-apartment-tab-2x.jpg 2x
                              " media="(min-width: 1024px)" />
                <source srcset="
                                ./img/abouthotel/modern-studio-apartment-mob.jpg    1x,
                                ./img/abouthotel/modern-studio-apartment-mob-2x.jpg 2x
                              " media="(min-width: 320px)" />
                <img class="border-hotel-one" src="./img/abouthotel/modern-studio-apartment-mob.jpg" alt="modern-studio">
            </picture>

        </div>
        <div class="about-hotel-pexels">
            <p class="about-hotel-text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit
                officia
                consequat duis enim velit
                mollit. Exercitation veniam consequat sunt nostrud amet.</p>
            <picture>
                <source srcset="
                        ./img/abouthotel/hotel-desc.jpg    1x,
                        ./img/abouthotel/hotel-desc-2x.jpg 2x
                      " media="(min-width: 1280px)" />
                <source srcset="
                    ./img/abouthotel/hotel-tab.jpg    1x,
                    ./img/abouthotel/hotel-tab-2x.jpg 2x
                  " media="(min-width: 1024px)" />
                <source srcset="
                        ./img/abouthotel/hotel-mob.jpg    1x,
                        ./img/abouthotel/hotel-mob-2x.jpg 2x
                      " media="(min-width: 320px)" />

                <img class="border-hotel-two" src="./img/abouthotel/hotel-mob.jpg" alt="hotel">
            </picture>
        </div>
        <div class="about-hotel-img">
            
            <picture>
                <source srcset="
                                                ./img/abouthotel/white-towel-bed-desc.jpg    1x,
                                                ./img/abouthotel/white-towel-bed-desc-2x.jpg 2x
                                              " media="(min-width: 1280px)" />
                <source srcset="
                                            ./img/abouthotel/white-towel-bed-tab.jpg    1x,
                                            ./img/abouthotel/white-towel-bed-tab-2x.jpg 2x
                                          " media="(min-width: 1024px)" />
                <source srcset="
                                                ./img/abouthotel/white-towel-bed-mob.jpg    1x,
                                                ./img/abouthotel/white-towel-bed-mob-2x.jpg 2x
                                              " media="(min-width: 320px)" />

                <img class="border-hotel-three" src="./img/abouthotel/white-towel-bed-mob.jpg" alt="white-towel-bed">
            </picture>
            <picture>
                <source srcset="
                                                ./img/abouthotel/hotel-registration-desc.jpg    1x,
                                                ./img/abouthotel/hotel-registration-desc-2x.jpg 2x
                                              " media="(min-width: 1280px)" />
                <source srcset="
                                            ./img/abouthotel/hotel-registration-tab.jpg    1x,
                                            ./img/abouthotel/hotel-registration-tab-2x.jpg 2x
                                          " media="(min-width: 1024px)" />
                <source srcset="
                                                ./img/abouthotel/hotel-registration-mob.jpg    1x,
                                                ./img/abouthotel/hotel-registration-mob-2x.jpg 2x
                                              " media="(min-width: 320px)" />
            
                <img class="border-hotel-four" src="./img/abouthotel/hotel-registration-mob.jpg" alt="hotel-registration">
            </picture>
        </div>
        <div class="about-hotel-arrow">
            <svg class="about-icon-hotel" width="32" height="32">
                <use href="./img/icons.svg#arrow-left"></use>
            </svg>
            <svg class="about-icon-hotel" width="32" height="32">
                <use href="./img/icons.svg#arrow-right"></use>
            </svg>
        </div>
    </div>
</section>