<!-- -------About our restaurant------- -->
<section class="about-rest">
    <div class="container">
        <h2 class="visually-hidden">About our restaurant</h2>
        <p class="about-pre-title">Amet minim mollit non</p>
        <h3 class="about-title">MIMIHO</h3>
        <p class="about-after-title">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
            Velit officia consequat duis enim velit
            mollit. Exercitation veniam consequat sunt nostrud amet.</p>
        <div class="img-about-rest">
            <picture>
                <source srcset="
                                ../img/aboutrest/restaurant-interior-desc.jpg   1x,
                                ../img/aboutrest/restaurant-interior-desc-2x.jpg 2x
                              " media="(min-width: 1280px)" />
                <source srcset="
                                ../img/aboutrest/restaurant-interior-tab.jpg    1x,
                                ../img/aboutrest/restaurant-interior-tab-2x.jpg 2x
                              " media="(min-width: 1024px)" />
                <source srcset="
                                ../img/aboutrest/restaurant-interior-mob.jpg    1x,
                                ../img/aboutrest/restaurant-interior-mob-2x.jpg 2x
                              " media="(min-width: 320px)" />
                <img class="border-one" src="../img/aboutrest/restaurant-interior-mob.jpg" alt="restaurant-interior">
            </picture>

        </div>
        <div class="about-pexels">
            <picture>
                <source srcset="
                        ../img/aboutrest/pexels-oruri-jacome-desc.jpg    1x,
                        ../img/aboutrest/pexels-oruri-jacome-desc-2x.jpg 2x
                      " media="(min-width: 1280px)" />
                <source srcset="
                    ../img/aboutrest/pexels-oruri-jacome-tab.jpg    1x,
                    ../img/aboutrest/pexels-oruri-jacome-tab-2x.jpg 2x
                  " media="(min-width: 1024px)" />
                <source srcset="
                        ../img/aboutrest/pexels-oruri-jacome-mob.jpg    1x,
                        ../img/aboutrest/pexels-oruri-jacome-mob-2x.jpg 2x
                      " media="(min-width: 320px)" />

                <img class="border-two" src="../img/aboutrest/pexels-oruri-jacome-mob.jpg" alt="pexels-oruri-jacome">
            </picture>
            <p class="about-text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit
                officia
                consequat duis enim velit
                mollit. Exercitation veniam consequat sunt nostrud amet.</p>
        </div>
        <div class="about-img">
            <div class="slider">
                <div class="slider-item">
                    <picture>
                        <source srcset="
                                            ../img/aboutrest/pexels-helena-lopes-desc.jpg    1x,
                                            ../img/aboutrest/pexels-helena-lopes-desc-2x.jpg 2x
                                          " media="(min-width: 1280px)" />
                        <source srcset="
                                        ../img/aboutrest/pexels-helena-lopes-tab.jpg    1x,
                                        ../img/aboutrest/pexels-helena-lopes-tab-2x.jpg 2x
                                      " media="(min-width: 1024px)" />
                        <source srcset="
                                            ../img/aboutrest/pexels-helena-lopes-mob.jpg    1x,
                                            ../img/aboutrest/pexels-helena-lopes-mob-2x.jpg 2x
                                          " media="(min-width: 320px)" />

                        <img class="border-three" src="../img/aboutrest/pexels-helena-lopes-mob.jpg"
                            alt="pexels-helena-lopes">
                    </picture>
                </div>
                <div class="slider-item">
                    <picture>
                        <source srcset="
                                                        ../img/aboutrest/about_rest_1_desc_1x.jpg    1x,
                                                        ../img/aboutrest/about_rest_1_desc_2x.jpg 2x
                                                      " media="(min-width: 1280px)" />
                        <source srcset="
                                                    ../img/aboutrest/about_rest_1_tab_1x.jpg    1x,
                                                    ../img/aboutrest/about_rest_1_tab_2x.jpg  2x"
                            media="(min-width: 1024px)" />
                        <source srcset="
                                                        ../img/aboutrest/about_rest_1_mob_1x.jpg   1x,
                                                        ../img/aboutrest/about_rest_1_mob_2x.jpg 2x
                                                      " media="(min-width: 320px)" />

                        <img class="border-four" src="../img/aboutrest/about_rest_1_mob_1x.jpg" alt="pexels-mat-brown">
                    </picture>
                </div>
                <div class="slider-item">
                    <picture>
                        <source srcset="
                                                                            ../img/aboutrest/about_rest_2_desc_1x.jpg    1x,
                                                                            ../img/aboutrest/about_rest_2_desc_2x.jpg 2x
                                                                          " media="(min-width: 1280px)" />
                        <source srcset="
                                                                        ../img/aboutrest/about_rest_2_tab_1x.jpg    1x,
                                                                        ../img/aboutrest/about_rest_2_tab_2x.jpg  2x"
                            media="(min-width: 1024px)" />
                        <source srcset="
                                                                            ../img/aboutrest/about_rest_2_mob_1x.jpg   1x,
                                                                            ../img/aboutrest/about_rest_2_mob_2x.jpg 2x
                                                                          " media="(min-width: 320px)" />

                        <img class="border-four" src="../img/aboutrest/about_rest_2_mob_1x.jpg" alt="pexels-mat-brown">
                    </picture>
                </div>
                <div class="slider-item">
                    <picture>
                        <source srcset="
                                                                            ../img/aboutrest/about_rest_3_desc_1x.jpg    1x,
                                                                            ../img/aboutrest/about_rest_3_desc_2x.jpg 2x
                                                                          " media="(min-width: 1280px)" />
                        <source srcset="
                                                                        ../img/aboutrest/about_rest_3_tab_1x.jpg    1x,
                                                                        ../img/aboutrest/about_rest_3_tab_2x.jpg  2x"
                            media="(min-width: 1024px)" />
                        <source srcset="
                                                                            ../img/aboutrest/about_rest_3_mob_1x.jpg   1x,
                                                                            ../img/aboutrest/about_rest_3_mob_2x.jpg 2x
                                                                          " media="(min-width: 320px)" />

                        <img class="border-four" src="../img/aboutrest/about_rest_3_mob_1x.jpg" alt="pexels-mat-brown">
                    </picture>
                </div>
                <div class="slider-item">
                    <picture>
                        <source srcset="
                                                                            ../img/aboutrest/about_rest_4_desc_1x.jpg    1x,
                                                                            ../img/aboutrest/about_rest_4_desc_2x.jpg 2x
                                                                          " media="(min-width: 1280px)" />
                        <source srcset="
                                                                        ../img/aboutrest/about_rest_4_tab_1x.jpg    1x,
                                                                        ../img/aboutrest/about_rest_4_tab_2x.jpg  2x"
                            media="(min-width: 1024px)" />
                        <source srcset="
                                                                            ../img/aboutrest/about_rest_4_mob_1x.jpg   1x,
                                                                            ../img/aboutrest/about_rest_4_mob_2x.jpg 2x
                                                                          " media="(min-width: 320px)" />

                        <img class="border-four" src="../img/aboutrest/about_rest_4_mob_1x.jpg" alt="pexels-mat-brown">
                    </picture>
                </div>
            </div>
        </div>
    </div>
</section>