<!-- ---------Details of our restaurant--------- -->

<section class="rest-details">
  <div class="container">
    <div class="rest-details-textwrap">
      <p class="rest-details-uppertext">MIMIHO</p>
      <h2 class="rest-details-title">Ресторан</h2>
      <p class="rest-details-lowertext">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit.
      </p>
    </div>
    <ul class="rest-details-list">
      <li class="rest-details-item">
        <img
          src="../img/rest_details_1_1x.jpg"
          srcset="
            ../img/rest_details_1_1x.jpg 1x,
            ../img/rest_details_1_2x.jpg 2x
          "
          height="270"
          alt="Steak"
        />
      </li>
      <li class="rest-details-item">
        <picture>
          <source
            srcset="
              ../img/rest_details_2_mob_1x.jpg 1x,
              ../img/rest_details_2_mob_2x.jpg 2x
            "
            media="(max-width: 1023.5px)"
          />
          <source
            srcset="
              ../img/rest_details_2_1x.jpg 1x,
              ../img/rest_details_2_2x.jpg 2x
            "
            media="(min-width: 1024px)"
          />
          <img src="../img/rest_details_2_1x.jpg" height="270" alt="Shashlyk" />
        </picture>
      </li>
      <li class="rest-details-item mob-hidden-img">
        <picture>
          <source
            srcset="
              ../img/rest_details_3_tab_1x.jpg 1x,
              ../img/rest_details_3_tab_2x.jpg 2x
            "
            media="(max-width: 1279px)"
          />
          <source
            srcset="
              ../img/rest_details_3_desk_1x.jpg 1x,
              ../img/rest_details_3_desk_2x.jpg 2x
            "
            media="(min-width: 1280px)"
          />
          <img
            src="../img/rest_details_3_desk_1x.jpg"
            height="270"
            alt="Appetizer"
          />
        </picture>
      </li>
    </ul>
    <div class="rest-details-arrows">
      <svg class="white-arrows" width="32px" height="32px">
        <use href="../img/icons.svg#arrow-left"></use>
      </svg>
      <svg class="white-arrows" width="32px" height="32px">
        <use href="../img/icons.svg#arrow-right"></use>
      </svg>
    </div>
    <div class="rest-details-btnwrap">
      <button type="button" class="rest-details-btn">Забронювати столик</button>
      <button type="button" class="rest-details-btn">
        <a class="check-menu-link" href="../restaurant.html">
          Переглянути меню
        </a>
      </button>
    </div>
  </div>
</section>
