<!-- --------Main Page Hero-------- -->
<section class="first-hero">
  <div class="container">
    <h1 class="first-hero-title title">MIMIH<span class="accent">O</span></h1>
    <h2 class="first-hero-subtitle">Ресторанно-готельний комплекс</h2>
    <p class="first-hero-text">смак життя 24/7</p>
    <div class="mimiho-bottom-wrap">
      <address class="mimiho-address">
        <a
          class="maps-link link"
          href="https://goo.gl/maps/gUJNV8gQoXNjQtDE9"
          target="_blank"
          rel="noopener noreferrer nofollow"
        >
          <svg class="location-icon" width="24" height="24">
            <use href="../img/icons.svg#location"></use>
          </svg>
          Україна, м. Полтава,<br />
          вул. Маршала Бірюзова, 15</a
        >
      </address>
      <div class="hero-button-wrap">
        <button
          type="button"
          class="hero-button button js-open-modal"
          data-modal="modaltable"
        >
          Забронювати столик
        </button>
        <button
          type="button"
          class="hero-button button js-open-modal"
          data-modal="modalroom"
        >
          Забронювати номер
        </button>
      </div>
    </div>
    <div class="mimiho-soc">
      <ul class="mimiho-soc-list list">
        <li class="mimiho-soc-item">
          <a
            href="https://www.instagram.com/"
            class="mimiho-soc-link link"
            target="_blank"
            rel="noopener noreferrer nofollow"
          >
            <svg class="mimiho-soc-icon" width="24" height="24">
              <use href="../img/icons.svg#instagram"></use>
            </svg>
          </a>
        </li>
        <li class="mimiho-soc-item">
          <a
            href="https://uk-ua.facebook.com/"
            class="mimiho-soc-link link"
            target="_blank"
            rel="noopener noreferrer nofollow"
          >
            <svg class="mimiho-soc-icon" width="24" height="24">
              <use href="../img/icons.svg#facebook"></use>
            </svg>
          </a>
        </li>
        <li class="mimiho-soc-item">
          <a
            href="https://web.telegram.org/"
            class="mimiho-soc-link link"
            target="_blank"
            rel="noopener noreferrer nofollow"
          >
            <svg class="mimiho-soc-icon" width="24" height="24">
              <use href="../img/icons.svg#telegram"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>
