<!-- --------Main Page Hero-------- -->
<div class="overlay">
  <section class="homepage-hero">
    <div class="container">
      <h1 class="homepage-hero-title">MIMIHO</h1>
      <h2 class="homepage-hero-subtitle">Ресторанно-готельний комплекс</h2>
      <p class="homepage-hero-text">смак життя 24/7</p>
      <button type="button" class="hero-btn btn" data-modal-open>
        Забронювати столик
      </button>
      <button type="button" class="hero-btn btn" data-modal-open>
        Забронювати номер
      </button>

      <a
        class="maps-link link"
        href="https://goo.gl/maps/gUJNV8gQoXNjQtDE9"
        target="_blank"
        rel="noopener noreferrer nofollow"
        ><span>
          <svg class="location-icon" width="24" height="24">
            <use href="../img/icons.svg#location"></use>
          </svg> </span
        >Україна, м. Полтава,<br />
        вул. Маршала Бірюзова, 15</a
      >
      <div class="mimiho-soc">
        <ul class="mimiho-soc-list list">
          <li class="mimiho-soc-item">
            <a
              href="https://www.instagram.com/"
              class="mimiho-soc-link link"
              target="_blank"
              rel="noopener noreferrer nofollow"
            >
              <svg class="mimiho-soc-icon" width="24" height="24">
                <use href="../img/icons.svg#instagram"></use>
              </svg>
            </a>
          </li>
          <li class="mimiho-soc-item">
            <a
              href="https://uk-ua.facebook.com/"
              class="mimiho-soc-link link"
              target="_blank"
              rel="noopener noreferrer nofollow"
            >
              <svg class="mimiho-soc-icon" width="24" height="24">
                <use href="../img/icons.svg#facebook"></use>
              </svg>
            </a>
          </li>
          <li class="mimiho-soc-item">
            <a
              href="https://web.telegram.org/"
              class="mimiho-soc-link link"
              target="_blank"
              rel="noopener noreferrer nofollow"
            >
              <svg class="mimiho-soc-icon" width="24" height="24">
                <use href="../img/icons.svg#telegram"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </section>
</div>
