<!-- ---------Room Page Hero--------- -->
<section class="room-hero">
  <div class="container">
    <div class="room-hero-arrows">
      <svg class="golden-arrows" width="40px" height="40px">
        <use href="./img/icons.svg#arrow-left"></use>
      </svg>
      <svg class="golden-arrows" width="40px" height="40px">
        <use href="./img/icons.svg#arrow-right"></use>
      </svg>
    </div>
    <h2 class="room-hero-title">ДВОМІСНИЙ НОМЕР люкс</h2>
    <p class="room-hero-text">
      Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
      Velit officia consequat duis enim velit mollit. Exercitation veniam
      consequat sunt nostrud amet.
    </p>
    <address class="room-hero-address">
      <a
        class="maps-link"
        href="https://goo.gl/maps/gUJNV8gQoXNjQtDE9"
        target="_blank"
        rel="noopener noreferrer nofollow"
      >
        <svg class="location-icon">
          <use href="./img/icons.svg#location"></use>
        </svg>
        Україна, м. Полтава,<br />
        вул. Маршала Бірюзова, 15</a
      >
    </address>
    <ul class="room-hero-soc">
      <li class="room-hero-soc-item">
        <a
          href=""
          class="room-hero-soc-link"
          target="_blank"
          rel="noopener noreferrer nofollow"
        >
          <svg class="room-hero-soc-icon" width="24px" height="24px">
            <use href="./img/icons.svg#instagram"></use></svg
        ></a>
      </li>
      <li class="room-hero-soc-item">
        <a
          href=""
          class="room-hero-soc-link"
          target="_blank"
          rel="noopener noreferrer nofollow"
        >
          <svg class="room-hero-soc-icon" width="24px" height="24px">
            <use href="./img/icons.svg#facebook"></use></svg
        ></a>
      </li>
      <li class="room-hero-soc-item">
        <a
          href=""
          class="room-hero-soc-link"
          target="_blank"
          rel="noopener noreferrer nofollow"
        >
          <svg class="room-hero-soc-icon" width="24px" height="24px">
            <use href="./img/icons.svg#telegram"></use></svg
        ></a>
      </li>
    </ul>
    <button
      type="button"
      class="room-hero-button js-open-modal"
      data-modal="modalprice"
    >
      Переглянути ціни
    </button>
  </div>
</section>
