<!-- -----------Hotel Pahe Hero----------- -->
<section class="hotel-page-hero">
    <div class="container">
        <div class="center">

            <h1 class="hero-title">MIMIHO</h1>
            <h2 class="hero-sub-title">Готель</h2>
            <div class="local-div">
                <a href="https://goo.gl/maps/FUc2W3RXpUwxECnb8" class="location">
                    <svg class="location-icon" width="20" height="20">
                        <use href="../img/icons.svg#location"></use>
                    </svg>Україна, м.Полтава, <br> вул. Маршала Бірюзова, 15
                </a>
                <div>
                    <button type="button" class="table-button btn">Забронювати номер</button>
                    <button type="button" class="number-button btn">Переглянути ціни</button>
                </div>
            </div>

        </div>
        <ul class="soc-list">
            <li class="soc-item">
                <a href="https://www.instagram.com/mimino.poltava/" class="soc-link" target="_blank" rel=”noopener
                    noreferrer”>
                    <svg class="soc-icon" width="24" height="24">
                        <use href="../img/icons.svg#instagram"></use>
                    </svg>
                </a>
            </li>
            <li class="soc-item">
                <a href="https://www.facebook.com/profile.php?id=114589595894911&paipv=0&eav=AfYgKg68kXEFofZ68qpkVFqZyVZVXsLS_P-VWnl2YwaHSe_T4W2QUmOtsdei3EzsNEU&_rdr"
                    class="soc-link" target="_blank" rel=”noopener noreferrer”>
                    <svg class="soc-icon" width="24" height="24">
                        <use href="../img/icons.svg#facebook"></use>
                    </svg>
                </a>
            </li>
            <li class="soc-item">
                <a href="" class="soc-link" target="_blank" rel=”noopener noreferrer”>
                    <svg class="soc-icon" width="24" height="24">
                        <use href="../img/icons.svg#telegram"></use>
                    </svg>
                </a>
            </li>
        </ul>
    </div>
</section>