<!-- -----------Hotel Pahe Hero----------- -->
<section class="hotel-page-hero">
    <div class="container">
        <div class="center">
            <a href="" class="location">
                <svg class="location-icon" width="20" height="20">
                    <use href="../img/icons.svg#location"></use>
                </svg>Україна, м.Полтава, <br> вул. Маршала Бірюзова, 15
            </a>
            <h1 class="hero-title">MIMIHO</h1>
            <h2 class="hero-sub-title">Готель</h2>
            <button type="button" class="table-button btn">Забронювати номер</button>
            <button type="button" class="number-button btn">Переглянути ціни</button>
        </div>
        <ul class="soc-list">
            <li class="soc-item">
                <a href="" class="soc-link">
                    <svg class="soc-icon" width="24" height="24">
                        <use href="../img/icons.svg#instagram"></use>
                    </svg>
                </a>
            </li>
            <li class="soc-item">
                <a href="" class="soc-link">
                    <svg class="soc-icon" width="24" height="24">
                        <use href="../img/icons.svg#facebook"></use>
                    </svg>
                </a>
            </li>
            <li class="soc-item">
                <a href="" class="soc-link">
                    <svg class="soc-icon" width="24" height="24">
                        <use href="../img/icons.svg#telegram"></use>
                    </svg>
                </a>
            </li>
        </ul>
    </div>
</section>