<!-- ------------Restaurant Page Menu------------ -->

<section class="restaurant-menu" id="menu">
  <div class="container">
    <h4 class="restaurant-menu-title">МЕНЮ РЕСТОРАНУ</h4>

    <div class="tables">
      <table class="restaurant-menu-table">
        <tr class="restaurant-menu-row">
          <th class="restaurant-menu-cell">Гарячі страви</th>
          <th class=""></th>
          <th class=""></th>
        </tr>
        <tr class="restaurant-menu-row">
          <td class="restaurant-menu-cell1">Борщ з телятини з квасолею</td>
          <td class="restaurant-menu-cell2" rowspan="2">400 г</td>
          <td class="restaurant-menu-cell3" rowspan="2">240 грн</td>
        </tr>
        <tr class="restaurant-menu-row">
          <td class="restaurant-menu-cell4">
            Телятина, картопля, капуста, морква, цибуля, квасоля, часник,
            помідори, зелень, сметана
          </td>
        </tr>
        <tr class="restaurant-menu-row">
          <td class="restaurant-menu-cell1">Суп сирний з куркою</td>
          <td class="restaurant-menu-cell2" rowspan="2">400 г</td>
          <td class="restaurant-menu-cell3" rowspan="2">200 грн</td>
        </tr>
        <tr class="restaurant-menu-row">
          <td class="restaurant-menu-cell4">
            Курятина, картопля, морква, цибуля, печериці, сир м’який, зелень
          </td>
        </tr>
        <tr class="restaurant-menu-row">
          <td class="restaurant-menu-cell1">Паста карбонара</td>
          <td class="restaurant-menu-cell2" rowspan="2">350 г</td>
          <td class="restaurant-menu-cell3" rowspan="2">430 грн</td>
        </tr>
        <tr class="restaurant-menu-row">
          <td class="restaurant-menu-cell4">
            Паста тальятеле, бекон, вершки, сир пармезан, яйце, зелень
          </td>
        </tr>
        <tr class="restaurant-menu-row">
          <td class="restaurant-menu-cell1">Стейк зі свинини</td>
          <td class="restaurant-menu-cell2" rowspan="2">400 г</td>
          <td class="restaurant-menu-cell3" rowspan="2">500 грн</td>
        </tr>
        <tr class="restaurant-menu-row">
          <td class="restaurant-menu-cell4">
            Свиняча вирізка, спеціі, подається з соусом солодкий чилі та овочами
          </td>
        </tr>
        <tr class="restaurant-menu-row">
          <td class="restaurant-menu-cell1">Горбуша в соусі з білого вина</td>
          <td class="restaurant-menu-cell2" rowspan="2">400 г</td>
          <td class="restaurant-menu-cell3" rowspan="2">400 грн</td>
        </tr>
        <tr class="restaurant-menu-row">
          <td class="restaurant-menu-cell4 last-cell">
            Ніжна горбуша, вершковий соус на основі <br />
            білого вина
          </td>
        </tr>
        <tr class="restaurant-menu-row">
          <th class="restaurant-menu-cell">Гарніри та закуски</th>
          <th class=""></th>
          <th class=""></th>
        </tr>
        <tr class="restaurant-menu-row">
          <td class="restaurant-menu-cell1">Запечені овочі</td>
          <td class="restaurant-menu-cell2" rowspan="2">200 г</td>
          <td class="restaurant-menu-cell3" rowspan="2">230 грн</td>
        </tr>
        <tr class="restaurant-menu-row">
          <td class="restaurant-menu-cell4">
            Кабачок, перець, помідор, баклажан
          </td>
        </tr>
        <tr class="restaurant-menu-row">
          <td class="restaurant-menu-cell1">Картопля фрі</td>
          <td class="restaurant-menu-cell2" rowspan="2">150 г</td>
          <td class="restaurant-menu-cell3" rowspan="2">160 грн</td>
        </tr>
        <tr class="restaurant-menu-row">
          <td class="restaurant-menu-cell4">Картопля, соус томатний</td>
        </tr>
        <tr class="restaurant-menu-row">
          <td class="restaurant-menu-cell1">Картопля по-селянськи</td>
          <td class="restaurant-menu-cell2" rowspan="2">150 г</td>
          <td class="restaurant-menu-cell3" rowspan="2">160 грн</td>
        </tr>
        <tr class="restaurant-menu-row">
          <td class="restaurant-menu-cell4">
            Картопля, спеції, соус пікантний
          </td>
        </tr>
        <tr class="restaurant-menu-row">
          <td class="restaurant-menu-cell1">Хрумкі соління з бочки</td>
          <td class="restaurant-menu-cell2" rowspan="2">250 г</td>
          <td class="restaurant-menu-cell3" rowspan="2">350 грн</td>
        </tr>
        <tr class="restaurant-menu-row">
          <td class="restaurant-menu-cell4">
            Огірок солений, помідор квашений, квашена капуста, морква
            по-корейські
          </td>
        </tr>
        <tr class="restaurant-menu-row">
          <td class="restaurant-menu-cell1">Крильця курячі в медовому соусі</td>
          <td class="restaurant-menu-cell2 last-cell-two" rowspan="2">400 г</td>
          <td class="restaurant-menu-cell3 last-cell-two" rowspan="2">
            420 грн
          </td>
        </tr>
        <tr class="restaurant-menu-row">
          <td class="restaurant-menu-cell4 last-cell">
            Крильця курячі, гірчично-медовий соус, подається з морквою, селерою
            і соусом блючиз
          </td>
        </tr>
      </table>

      <table class="restaurant-menu-table table-two">
        <tr class="restaurant-menu-row">
          <th class="restaurant-menu-cell">Салати</th>
          <th class=""></th>
          <th class=""></th>
        </tr>
        <tr class="restaurant-menu-row">
          <td class="restaurant-menu-cell1">Цезар з куркою</td>
          <td class="restaurant-menu-cell2" rowspan="2">230 г</td>
          <td class="restaurant-menu-cell3" rowspan="2">450 грн</td>
        </tr>
        <tr class="restaurant-menu-row">
          <td class="restaurant-menu-cell4">
            Куряче філе, листя салату, помідори чері, сир пармезан, грінки, соус
            цезар
          </td>
        </tr>
        <tr class="restaurant-menu-row">
          <td class="restaurant-menu-cell1">Цезар з креветками</td>
          <td class="restaurant-menu-cell2" rowspan="2">230 г</td>
          <td class="restaurant-menu-cell3" rowspan="2">300 грн</td>
        </tr>
        <tr class="restaurant-menu-row">
          <td class="restaurant-menu-cell4">
            Тигрові креветки, листя салату, помідори чері, сир пармезан, грінки,
            соус цезар
          </td>
        </tr>
        <tr class="restaurant-menu-row">
          <td class="restaurant-menu-cell1">Грецький салат</td>
          <td class="restaurant-menu-cell2" rowspan="2">230 г</td>
          <td class="restaurant-menu-cell3" rowspan="2">280 грн</td>
        </tr>
        <tr class="restaurant-menu-row">
          <td class="restaurant-menu-cell4">
            Свіжі огірок, помідор, болгарський <br />
            перець, оливки, сир бринза, листя салату, соус
          </td>
        </tr>
        <tr class="restaurant-menu-row">
          <td class="restaurant-menu-cell1">М’ясний салат</td>
          <td class="restaurant-menu-cell2" rowspan="2">230 г</td>
          <td class="restaurant-menu-cell3" rowspan="2">300 грн</td>
        </tr>
        <tr class="restaurant-menu-row">
          <td class="restaurant-menu-cell4 last-cell">
            Куряче філе або свиняча вирізка, свіжі огірок, помідор, болгарський
            перець, соус ранч
          </td>
        </tr>
        <tr class="restaurant-menu-row">
          <th class="restaurant-menu-cell">Десерти</th>
          <th class=""></th>
          <th class=""></th>
        </tr>
        <tr class="restaurant-menu-row">
          <td class="restaurant-menu-cell1 another-cell">Торт наполеон</td>
          <td class="restaurant-menu-cell2 cell-weight">230 г</td>
          <td class="restaurant-menu-cell3 cell-price">300 грн</td>
        </tr>
        <tr class="restaurant-menu-row">
          <td class="restaurant-menu-cell1 another-cell">Торт маковий</td>
          <td class="restaurant-menu-cell2 cell-weight">230 г</td>
          <td class="restaurant-menu-cell3 cell-price">300 грн</td>
        </tr>
        <tr class="restaurant-menu-row">
          <td class="restaurant-menu-cell1">Тірамісу</td>
          <td class="restaurant-menu-cell2">120 г</td>
          <td class="restaurant-menu-cell3">260 грн</td>
        </tr>
        <tr class="restaurant-menu-row">
          <th class="restaurant-menu-cell">Напої</th>
          <th class=""></th>
          <th class=""></th>
        </tr>
        <tr class="restaurant-menu-row">
          <td class="restaurant-menu-cell1 another-cell">Чай чорний/зелений</td>
          <td class="restaurant-menu-cell2 cell-weight">500 мл</td>
          <td class="restaurant-menu-cell3 cell-price">100 грн</td>
        </tr>
        <tr class="restaurant-menu-row">
          <td class="restaurant-menu-cell1 another-cell">Еспресо</td>
          <td class="restaurant-menu-cell2 cell-weight">30 мл</td>
          <td class="restaurant-menu-cell3 cell-price">100 грн</td>
        </tr>
        <tr class="restaurant-menu-row">
          <td class="restaurant-menu-cell1 another-cell">Американо</td>
          <td class="restaurant-menu-cell2 cell-weight">150 мл</td>
          <td class="restaurant-menu-cell3 cell-price">100 грн</td>
        </tr>
        <tr class="restaurant-menu-row">
          <td class="restaurant-menu-cell1 another-cell">Капучино</td>
          <td class="restaurant-menu-cell2 cell-weight">200 мл</td>
          <td class="restaurant-menu-cell3 cell-price">160 грн</td>
        </tr>
        <tr class="restaurant-menu-row">
          <td class="restaurant-menu-cell1">Лате</td>
          <td class="restaurant-menu-cell2">200 мл</td>
          <td class="restaurant-menu-cell3">160 грн</td>
        </tr>
      </table>
    </div>

    <div class="button-reserve">
      <button
        type="button"
        class="menu-restaurant-btn js-open-modal"
        data-modal="modaltable"
      >
        Забронювати столик
      </button>
    </div>
  </div>
</section>
