<!-- ---------Book Room Modal window--------- -->

<section class="book-room-modal ">
  <div class="modal-container book-room">
    <button
      type="button"
      class="modal-close"
      data-book-room-modal-close
    >
      <svg class="modal-close-icon" width="24" height="24">
        <use href="../img/icons.svg#modal-close"></use>
      </svg>
    </button>
  
    <h2 class="modal-title">ЗАБРОНЮВАТИ НОМЕР</h2>
  
    <form class="modal-form">
      <div class="book-room-user-contacts">
        <div class="modal-field">        
          <input
            type="text"
            class="modal-input"
            name="book-room-user-name"
            id="book-room-user-name"
            placeholder="Ваше ім’я"
            required
          />
  
          <label for="book-room-user-name" class="modal-input-label"
            >На кого забронювати номер?</label
          >
        </div>
  
        <div class="modal-field">
          <input
            type="tel"
            class="modal-input"
            name="book-room-user-phone"
            id="book-room-user-phone"
            placeholder="+38 (___) ___-__-__"
            pattern="^[\+]?3?[\s]?8?[\s]?\(?0\d{2}?\)?[\s]?\d{3}[\s|-]?\d{2}[\s|-]?\d{2}$"
            required
          />
          <label for="book-room-user-phone" class="modal-input-label"
            >Номер телефону</label
          >
        </div>
      </div>
  
      <div class="modal-field room-type">
        <div class="select-wrap">
          <select
            class="modal-input select"
            name="book-room-room-type"
            id="book-room-room-type"
          >
            <option value="double-suite">Двомісний люкс</option>
            <option value="triple ">Трьохмісний</option>
            <option value="duplex">Двомісний</option>
          </select>
        </div >
        <label for="book-room-room-type" class="modal-input-label"
          >Категорія номеру</label
        >
      </div>
  
      <div class="book-room-dates">
        <div class="modal-field">
          <div class="select-wrap">
            <select
              class="modal-input"
              name="book-room-date-arrive"
              id="book-room-date-arrive"
            >
              <option value="today">Сьогодні</option>
              <option value="tomorrow">Завтра</option>
              <option value="day-after-tomorrow">Післязавтра</option>
            </select>
          </div >
          <label for="book-room-date-arrive" class="modal-input-label"
            >Дата заїзду</label
          >
        </div>
  
        <div class="modal-field">
          <div class="select-wrap">
            <select
              class="modal-input"
              name="book-room-date-depart "
              id="book-room-date-depart "
            >
              <option value="today">Сьогодні</option>
              <option value="tomorrow">Завтра</option>
              <option value="day-after-tomorrow">Післязавтра</option>
            </select>
          </div>
          <label for="book-room-date-depart " class="modal-input-label"
            >Дата виїзду</label
          >
        </div>
      </div>
      <div class="modal-submit">
        <button type="submit" class="modal-btn">
          ОФОРМИТИ БРОНЮВАННЯ
        </button>
      </div>
    </form>
  </di >
</section>
