/* <!-- -------About our restaurant------- --> */
.about-rest {
   background-color: #fffdee;
}
.about-rest > .container {
    padding-top: 16px;
    padding-bottom: 20px;
    position: relative;
}
.border-one,
.border-two,
.border-three,
.border-four {
    background-color: #DADADA;
    box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
    border-radius: 2px;
}
.about-pre-title {
    font-family: 'Times New Roman';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.15;
    color: #B4B4B4;
    margin-bottom: 12px;
}
.about-title {
    font-family: 'Film P3';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 1.07;
    letter-spacing: 0.3em;
    color: #494848;
    margin-bottom: 12px;
}
.about-after-title {
    width: 258px;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.25;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
    margin-bottom: 28px;
}
.about-restaurant {
    margin-bottom: 32px;
}
.img-about-rest {
 padding-left: 155px;
 margin-bottom: 32px;

}
.about-pexels {
    display: flex;
    gap: 20px;
    margin-bottom: 32px;   
}
.about-text {
    width: 163px;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.25;
    letter-spacing: 0.02em;
    color: var(--first-gold-color);
    margin-top: 70px;
}

.about-img {
     position: absolute;
    display: flex;
    gap: 25px;
    right: 0;
}
.about-arrow {
    display: flex;
    gap: 32px;
    width: 98px;
    margin-left: auto;
    margin-top: 297px;
}
.about-icon-rest {
  transition: fill var(--timing-function);
}
.about-icon-rest:hover,
.about-icon-rest:focus,
.about-icon-rest:active {
fill: var(--second-gold-color);
}
/* ------- Mob ------- */
@media screen and (min-width: 414px) {
  .about-rest > .container {
    width: 414px;
  }
  .img-about-rest {
    margin-left: 0;
  }
  .about-arrow {
    margin-left: 285px;
  }
  .about-img {
    left: 100px;
  }
}

/* ------- Tab --------- */
@media screen and (min-width: 1024px) {
  
  .about-rest > .container {
    width: 1024px;
    padding-top: 120px;
    padding-bottom: 32px;
    padding-left: 47px;
    padding-right: 60px;
  }
  .border-one {
    box-shadow: 5px 5px 70px 17px rgba(0, 0, 0, 0.25);
  }
  .border-two {
    box-shadow: 5px 5px 70px 17px rgba(0, 0, 0, 0.25);
  }
  .about-pre-title {
    margin-bottom: 4px;
    font-size: 32px;
    line-height: 1.16;
  }
  .about-title {
    margin-bottom: 24px;
    font-size: 64px;
    line-height: 1.08;
  }

  .about-after-title {
    width: 439px;
    margin-bottom: 142px;
    font-size: 16px;
    line-height: 1.25;
  }
  .about-pexels {
    gap: 48px;
    padding-right: 207px;
  }
  .img-about-rest {
    position: absolute;
    margin: 0;
    padding: 0;
    top: -32px;
    left: 512px;
  }

  .about-text {
   width: 312px;
    margin-top: 190px;
    font-size: 16px;
    line-height: 1.25;
  }
  .about-img {
    position: absolute;
    padding: 0;
    margin: 0;
     gap: 40px;
    top: 948px;
    left: 536px;
  }

  .about-arrow {
    margin-top: 198px;
    margin-left: 819px;
  }
}

/* ----- Desc ------*/
@media screen and (min-width: 1280px) {
  
  .about-rest > .container {
    width: 1280px;
    padding-bottom: 50px;
    padding-left: 85px;
    padding-right: 85px;
  }
  .border-two {
     box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
  }
  .about-after-title {
    width: 518px;
    margin-bottom: 162px;
  }
   .about-text {
    margin-bottom: 119px;
  }
  .about-pexels {
    gap: 32px;
    padding-right: 306px;
  }
  .img-about-rest{
    top: -33px;
    left: 640px;
  }
.about-img {
  top: 903px;
  left: 647px;
}
.about-arrow {
   margin-top: 143px;
   margin-left: 1012px;
  }
}
