/* <!-- ---------Details of our restaurant--------- --> */

.rest-details {
  padding-top: 24px;
  padding-bottom: 40px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
    url(./img/rest_details_bg_mob_1x.jpg);
  background-position: center;
  background-size: cover;
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .rest-details {
    background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
      url(./img/rest_details_bg_mob_2x.jpg);
  }
}

.rest-details-textwrap {
  margin-left: 125px;
  margin-bottom: 48px;
}

.rest-details-uppertext {
  margin-bottom: 12px;
  font-family: 'Film P3', sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 1.07;
  letter-spacing: 0.3em;
  color: var(--primary-white-color);
}

.rest-details-title {
  margin-bottom: 20px;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--primary-white-color);
}

.rest-details-lowertext {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  color: #bababa;
}

.rest-details-list {
  display: flex;
  justify-content: space-between;
  column-gap: 15px;
  margin-bottom: 24px;
  margin-right: -15px;
  margin-left: 25px;
}

.rest-details-arrows {
  display: flex;
  column-gap: 34px;
  margin-bottom: 40px;
  margin-left: 25px;
}

.white-arrows {
  fill: var(--primary-white-color);
  transition: fill var(--timing-function);
}

.white-arrows:hover,
.white-arrows:focus,
.white-arrows:active {
  fill: var(--second-gold-color);
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

.rest-details-btn {
  display: block;
  padding-top: 12px;
  padding-bottom: 12px;
  margin-left: auto;
  margin-right: auto;
  width: 236px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--second-gold-color);
  background: rgba(0, 0, 0, 0.4);
  border: 2px solid var(--primary-white-color);
  border-radius: 25px;
  transition: background-color var(--timing-function),
    border-color var(--timing-function);
}

.rest-details-btn:first-child {
  margin-bottom: 16px;
}

.rest-details-btn:hover,
.rest-details-btn:focus,
.rest-details-btn:active {
  background-color: var(--primary-white-color);
  border-color: var(--second-gold-color);
}

/* --------------Mobile---------------- */

@media screen and (max-width: 1023.5px) {
  .mob-hidden-img {
    display: none;
  }
}

/* --------------Tablet---------------- */

@media screen and (min-width: 1024px) {
  .rest-details {
    padding-top: 48px;
    padding-bottom: 47px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
      url(./img/rest_details_bg_tab_1x.jpg);
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .rest-details {
      background-image: linear-gradient(
          rgba(0, 0, 0, 0.65),
          rgba(0, 0, 0, 0.65)
        ),
        url(./img/rest_details_bg_tab_2x.jpg);
    }
  }

  .rest-details > .container {
    padding-left: 47px;
    padding-right: 47px;
    position: relative;
  }

  .rest-details-textwrap {
    margin-left: 231px;
    margin-right: 99px;
    margin-bottom: 40px;
  }

  .rest-details-uppertext {
    margin-bottom: 16px;
    font-size: 64px;
  }

  .rest-details-title {
    margin-bottom: 8px;
    font-size: 24px;
  }

  .rest-details-lowertext {
    font-size: 16px;
  }

  .rest-details-list {
    justify-content: space-between;
    column-gap: 35px;
    margin-bottom: 32px;
    margin-right: 0;
    margin-left: 266px;
  }

  .rest-details-arrows {
    margin-left: 266px;
    margin-bottom: 0;
  }

  .rest-details-btnwrap {
    position: absolute;
    transform: translateY(-176px);
  }
}

/* --------------Desktop---------------- */

@media screen and (min-width: 1280px) {
  .rest-details {
    background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
      url(./img/rest_details_bg_desk_1x.jpg);
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .rest-details {
      background-image: linear-gradient(
          rgba(0, 0, 0, 0.65),
          rgba(0, 0, 0, 0.65)
        ),
        url(./img/rest_details_bg_desk_2x.jpg);
    }
  }

  .rest-details > .container {
    padding-left: 85px;
    padding-right: 52px;
  }

  .rest-details-textwrap {
    margin-left: 253px;
    margin-right: 280px;
    margin-bottom: 40px;
  }
}
