/* ------------Hotel Page Hero------------ */
.hotel-page-hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 4, 4, 0.65)),
    url(../img/hotel-hero-mob1x.jpg);
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 auto;
  background-size: cover;
  padding-top: 181px;
  padding-bottom: 20px;
}
@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hotel-page-hero {
    background-image: linear-gradient(rgba(0, 4, 4, 0.65), rgba(0, 4, 4, 0.65)),
      url(../img/hotel-hero-mob2x.jpg);
  }
}

.hotel-page-hero > .container {
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.location {
  position: absolute;
  right: 15px;
  top: -120px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 210px;
  height: 48px;
  border: 1px solid rgba(243, 198, 83, 0.7);
  border-radius: 2px;
  font-weight: 400;
  font-size: 12px;
  line-height: calc(15 / 12);
  letter-spacing: 0.01em;
  color: #e5e5e5;
  gap: 8px;
  margin-top: 9px;
}
.location-icon {
  fill: #f3c653;
}
.hero-title {
  font-family: 'Film P3';
  font-style: normal;
  font-weight: 700;
  font-size: 96px;
  line-height: calc(103 / 96);
  letter-spacing: 0.3em;
  color: #ffffff;
  margin-bottom: 32px;
}
.hero-title > .accent {
  letter-spacing: 0;
}
.hero-sub-title {
  font-weight: 600;
  font-size: 20px;
  line-height: calc(24 / 20);
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 178px;
}
.table-button {
  margin-bottom: 24px;
}
.btn {
  width: 236px;
  height: 48px;
  background-color: rgba(0, 0, 0, 0.4);
  border: 2px solid #ffffff;
  border-radius: 25px;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(20 / 16);
  letter-spacing: 0.02em;
  color: #f3c653;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn:hover,
.btn:focus {
  background-color: #ffffff;
}
.number-button {
  margin-bottom: 58px;
}
.soc-list {
  display: flex;
  gap: 20px;
}
.local-div > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 414px) {
  .hotel-page-hero > .container {
    max-width: 414px;
  }
}

@media screen and (min-width: 1024px) {
  .hero-title{
    font-size: 128px;
line-height: calc(138/128);
  }
  .hotel-page-hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 4, 4, 0.65)),
      url(../img/hotel-hero-table1x.jpg);
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 auto;
    background-size: cover;
    padding-top: 186px;
    padding-bottom: 15px;
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hotel-page-hero {
      background-image: linear-gradient(
          rgba(0, 4, 4, 0.65),
          rgba(0, 4, 4, 0.65)
        ),
        url(../img/hotel-hero-table2x.jpg);
    }
  }

  .location {
    position: relative;
    top: 0;
    left: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: calc(20 / 16);
    letter-spacing: 0.01em;
    color: #e5e5e5;
    width: 285px;
    height: 56px;
  }
  .hotel-page-hero > .container {
    max-width: 930px;
    padding-left: 47px;
    padding-right: 47px;
    margin: 0 auto;
  }
  .table-button {
    margin-right: 40px;
  }
  .local-div {
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }
  .center {
    margin-bottom: 25px;
  }
  .local-div div {
    display: flex;
    flex-direction: row;
  }
  .number-button {
    margin-bottom: 0px;
  }
  .table-button {
    margin-bottom: 0px;
  }
  .hero-sub-title {
    margin-bottom: 218px;
  }
}
@media screen and (min-width: 1280px) {
  .hotel-page-hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 4, 4, 0.65)),
      url(../img/hotel-hero-desk1x.jpg);
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 auto;
    background-size: cover;
    padding-top: 164px;
    padding-bottom: 65px;
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hotel-page-hero {
      background-image: linear-gradient(
          rgba(0, 4, 4, 0.65),
          rgba(0, 4, 4, 0.65)
        ),
        url(../img/hotel-hero-desk2x.jpg);
    }
  }
  .soc-list {
    display: none;
  }
  .hotel-page-hero > .container {
    max-width: 1110px;
    padding-left: 85px;
    padding-right: 85px;
    margin: 0 auto;
  }
}
