/* <!-- -------- Hero -------- --> */

.first-hero > .container {
  position: relative;
  padding-top: 181px;
  padding-bottom: 20px;
  overflow: hidden;
}

.first-hero-title {
  font-family: 'Film P3';
  font-style: normal;
  font-weight: 700;
  font-size: 96px;
  line-height: 1.07;
  letter-spacing: 0.3em;
  color: #ffffff;
  text-align: center;
  margin-bottom: 24px;
}

.accent {
  letter-spacing: 0;
}

.first-hero-subtitle {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  color: #ffffff;
  text-align: center;
  margin-bottom: 40px;
}
.first-hero-text {
  font-family: 'Times New Roman', sans-serif;
  text-align: center;
  font-style: normal;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 32px;
  line-height: 1.17;
  letter-spacing: 0.05em;
  margin-bottom: 113px;
}
.hero-button-wrap {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  margin-bottom: 58px;
  justify-content: center;
}

.hero-button,
.hero-button-link {
  color: #f3c653;
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  background: rgba(0, 0, 0, 0.4);
  border: 2px solid #ffffff;
  border-radius: 25px;
  padding: 14px 24px;
  width: auto;
  height: 48px;
  transition: background-color var(--timing-function),
    border var(--timing-function);
}

.hero-button:hover,
.hero-button:focus,
.hero-button-link:hover,
.hero-button-link:focus {
  background: #ffffff;
  border: 2px solid #f3c653;
}

.maps-link {
  display: flex;
  align-items: center;
  width: auto;
  padding: 8px 11px 9px 11px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.01em;
  color: #e5e5e5;
  border: 1px solid rgba(243, 198, 83, 0.7);
  border-radius: 2px;
  transition: color var(--timing-function),
    background-color var(--timing-function), opacity var(--timing-function);
}

.maps-link:hover,
.maps-link:focus {
  color: #000000;
  background-color: #f3c653;
  opacity: 40%;
}

.mimiho-soc-list {
  display: flex;
  gap: 20px;
}
.location-icon {
  padding: 0;
  fill: #f3c653;
  margin-right: 8px;
  transition: fill var(--timing-function);
}
.maps-link:hover .location-icon,
.maps-link:focus .location-icon {
  fill: #000000;
}

.mimiho-soc-link {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mimiho-soc-icon {
  fill: var(--second-gold-color);
}
.mimiho-soc-link:hover .mimiho-soc-icon,
.mimiho-soc-link:focus .mimiho-soc-icon {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

/*---------------MEDIA------------ */
@media screen and (min-width: 1024px) {
  .first-hero > .container {
    padding-top: 188px;
    padding-bottom: 15px;
  }
  .first-hero-title {
    font-size: 128px;
    line-height: 1.08;
    margin-bottom: 16;
  }
  .first-hero-subtitle {
    font-size: 20px;
    line-height: 1.2;
    margin-bottom: 56px;
  }
  .first-hero-text {
    font-size: 36px;
    line-height: 1.14;
    margin-bottom: 137px;
  }
  .hero-button-wrap {
    flex-wrap: nowrap;
    gap: 40px;
    margin-bottom: 0;
    margin-left: auto;
  }
  .mimiho-bottom-wrap {
    display: flex;
    align-items: flex-end;
    margin-bottom: 25px;
  }
  .maps-link {
    padding: 8px 16px;
    font-size: 16px;
  }
  .mimiho-soc-list {
    gap: 22px;
  }
  .location-icon {
    margin-right: 16px;
  }
}

@media screen and (min-width: 1280px) {
  .first-hero > .container {
    padding-top: 164px;
    padding-bottom: 65px;
  }

  .first-hero-title {
    margin-bottom: 32;
  }
  .first-hero-subtitle {
    margin-bottom: 64px;
  }
  .hero-button-wrap {
    gap: 60px;
  }
  .hero-button,
  .hero-button-link {
    padding-left: 35px;
    padding-right: 35px;
  }
  .mimiho-bottom-wrap {
    margin-bottom: 0;
  }
  .mimiho-soc-list {
    display: none;
  }
}

@media screen and (max-width: 414px) {
  .first-hero {
    color: var(--primary-white-color);
    height: auto;
    background-color: rgba(0, 0, 0, 0.65);
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.65),
        rgba(0, 0, 0, 0.65)
      ),
      url('../img/hero1/pexels-pixabay-260922-mobile.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    flex-grow: 1;
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .first-hero {
      background-color: rgba(0, 0, 0, 0.65);
      background-image: linear-gradient(
          to right,
          rgba(0, 0, 0, 0.65),
          rgba(0, 0, 0, 0.65)
        ),
        url(../img/hero1/pexels-pixabay-260922-mobile@2x.jpg);
    }
  }
  .restaurant-hero-overlay > .first-hero {
    background-color: rgba(0, 0, 0, 0.65);
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.65),
        rgba(0, 0, 0, 0.65)
      ),
      url('../img/hero1/pexels-chan-walrus-941861-mobile.jpg');
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .restaurant-hero-overlay > .first-hero {
      background-color: rgba(0, 0, 0, 0.65);
      background-image: linear-gradient(
          to right,
          rgba(0, 0, 0, 0.65),
          rgba(0, 0, 0, 0.65)
        ),
        url(../img/hero1/pexels-chan-walrus-941861-mobile@2x.jpg);
    }
  }
}

@media screen and (min-width: 415px) and (max-width: 1024px) {
  .first-hero {
    color: var(--primary-white-color);
    height: auto;
    background-color: rgba(0, 0, 0, 0.65);
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.65),
        rgba(0, 0, 0, 0.65)
      ),
      url('../img/hero1/pexels-pixabay-260922-tablet.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    flex-grow: 1;
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .first-hero {
      background-color: rgba(0, 0, 0, 0.65);
      background-image: linear-gradient(
          to right,
          rgba(0, 0, 0, 0.65),
          rgba(0, 0, 0, 0.65)
        ),
        url(../img/hero1/pexels-pixabay-260922-tablet@2x.jpg);
    }
  }
  .restaurant-hero-overlay > .first-hero {
    background-color: rgba(0, 0, 0, 0.65);
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.65),
        rgba(0, 0, 0, 0.65)
      ),
      url('../img/hero1/pexels-chan-walrus-941861-tablet.jpg');
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .restaurant-hero-overlay > .first-hero {
      background-color: rgba(0, 0, 0, 0.65);
      background-image: linear-gradient(
          to right,
          rgba(0, 0, 0, 0.65),
          rgba(0, 0, 0, 0.65)
        ),
        url(../img/hero1/pexels-chan-walrus-941861-tablet@2x.jpg);
    }
  }
}

@media screen and (max-width: 1023px) {
  .mimiho-address {
    position: absolute;
    right: 15px;
    top: 64px;
  }
}

@media screen and (min-width: 1025px) {
  .first-hero {
    color: var(--primary-white-color);
    height: auto;
    background-color: rgba(0, 0, 0, 0.65);
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.65),
        rgba(0, 0, 0, 0.65)
      ),
      url('../img/hero1/pexels-pixabay-260922-desktop.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    flex-grow: 1;
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .first-hero {
      background-color: rgba(0, 0, 0, 0.65);
      background-image: linear-gradient(
          to right,
          rgba(0, 0, 0, 0.65),
          rgba(0, 0, 0, 0.65)
        ),
        url(../img/hero1/pexels-pixabay-260922-desktop@2x.jpg);
    }
  }
  .restaurant-hero-overlay > .first-hero {
    background-color: rgba(0, 0, 0, 0.65);
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.65),
        rgba(0, 0, 0, 0.65)
      ),
      url('../img/hero1/pexels-chan-walrus-941861-desktop.jpg');
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .restaurant-hero-overlay > .first-hero {
      background-color: rgba(0, 0, 0, 0.65);
      background-image: linear-gradient(
          to right,
          rgba(0, 0, 0, 0.65),
          rgba(0, 0, 0, 0.65)
        ),
        url(../img/hero1/pexels-chan-walrus-941861-desktop@2x.jpg);
    }
  }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .hero-button,
  .hero-button-link {
    background: #000000;
  }
}
